import React, { Component } from 'react'

class {{properCase name}} extends Component {
  render () {
    return (
      <div>This is a {{properCase name}} component!</div>
    )
  }
}

export default {{properCase name}}
